protobuf==3.17.3; python_version == '3.9'
Brotli==1.0.9; python_version == '3.9'
cryptography==3.3; python_version == '3.9'
zstandard==0.15.2; python_version == '3.9'
msgpack==1.0.2; python_version == '3.9'
tornado==6.1; python_version == '3.9'
MarkupSafe==2.0.1; python_version == '3.9'
ruamel.yaml.clib==0.2.6; python_version == '3.9'

supervisor==4.2.2